body{
    
    margin: 0;
    padding: 0;
}

.main{
    
    position: relative;
    max-width:fit-content;
    margin: auto;
  
    
}
.head{
    background:url("../images/head2.jpg");
    width: 1585px;
    height: 200px;
    margin-left: 5px;
}

#logout{
    position:absolute;
    border: none;
    width: 120px;
    height: 120px;
    background: url(../images/log_out2.jpg);
    background-size: cover;
    top: 15px;
    right: 20px;
}


.content{
    margin: auto;
    margin-top: 80px;
    max-width:fit-content;
    padding: 30px;
    text-align: center;
    border: 2px solid rgb(19, 184, 19);
    border-radius: 15px;
}

img{
    width: 200px;
}

h1{
    color: rgb(122, 10, 10);
    font-size: 40px;
    
}


.buttons{
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
input[type=button]{
    
    background: url(../images/close.png);
    background-size: cover;
    font-weight: 800;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 125px;
    height: 60px;
   border: none;
   cursor: pointer;
   
}