body{
    margin: 0;
    padding: 0;
    background:url(../images/bg\ \(1\).jpg);
    background-size: cover;
}

.main{
    position: relative;
    max-width:fit-content;
    margin: auto; 
}

.center{
padding: 20px;
margin: auto;
margin-top: 50px;
height: 1240px;
width: 1050px;
background-color: rgba(240, 249, 251, 0.815);
border-radius: 10px;
margin-bottom: 50px;
}

.head{
    background:url("../images/head2.jpg");
    width: 1585px;
    height: 200px;
    margin-left: 5px;
}

#logout{
    position:absolute;
    border: none;
    width: 120px;
    height: 120px;
    background: url(../images/log_out2.jpg);
    background-size: cover;
    top: 15px;
    right: 20px;
  }
  
fieldset{
    border: 3px solid goldenrod;
    border-radius: 20px;
}

legend{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    color: rgb(36, 54, 219);
}


hr{
    background-color: goldenrod;
    height: 2px;
}



table{
    width: 100%;
    table-layout: fixed;
}

table td label{
    font-size: 18px;
    color: rgb(153, 18, 18);
    font-weight: 500;
}

table td p{
    margin-bottom: -2px;
    margin-top: -5px;
}
input text{ 
    width: 100%;
}

table td{
    padding:12px 0px 10px 12px;
}

input{
    width: fit-content;
    height: 24px;
}

 input[type="text"],[type="date"]{
    text-align: center;
    border-radius: 7px;
    box-shadow: seashell;
    color: black;
    text-transform: uppercase;
}

 span{
     color:black;
     font-size: 18px;
     font-weight: 700;
 }

img{
    border: 2px solid goldenrod;
    background-color: honeydew;
}

input[type="file"]{
    font-display: none;
    display: block;
}

select{
    width: 90%;
    height: 30px;
    font-size: 22px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="submit"]{
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: whitesmoke;
    background-color: turquoise;
    border-radius: 25px;
}

input[type=button]{
    width: 300px;
    height: 50px;
    background-color: tomato;
    font-size: 18px;
    color: cornsilk;
    border-radius: 25px;
}

button:hover, button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    box-shadow: 5px 5px 2px grey;
    cursor:pointer
  }

  input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    box-shadow: 5px 5px 2px grey;
    cursor:pointer
  }

 #border{
    border-bottom:2px solid red;
 }